# === Fichiers Python ===
*.pyc
__pycache__/
.env
.venv/
*.pyo

# === VS Code ===
.vscode/

# === Données locales ===
images/
*/images/
*/log/
*.log

# === Documents privés ===
*/docx_tab/
*/docx_lin_in/
*/docx_lin_out/*.docx
!test_structure_*/02docx_lin_out/*.docx  # conserve les docx anonymisés de test
!test_structure_*/02text_p1_out/*.txt   # conserve les .txt utiles

# === Fichiers système ===
.DS_Store
Thumbs.db
